<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!-- 
    This is just an example of relative vs absolute path declaration

    The "/" before this makes it an absolute path. Without it, 
    you're making it a relative path and therefore making the
    url "localhost4200:servers/servers"

    <a routerLink="/servers">reload page</a>
    -->
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>

